<hr>
<div class="newsletters">
    <div class="help-block-for-success"></div>
    <div class="help-block-for-error"></div>
    <form id="sidebar-subscription-form">
        <label for="sidebar-subscription-input">{{ .Site.Params.newsletter.sidebar_form_label | default "Subscribe to my newsletters" }}</label>
        <input type="email" id="sidebar-subscription-input" name="email" placeholder="{{ .Site.Params.newsletter.form_email_placeholder }}" />
        <button type="submit">Subscribe</button>
    </form>
</div>
<hr>
<script>
    const createdMessage = {{ .Site.Params.newsletter.created_kit_message }};
    const generalErrorMessage = {{ .Site.Params.newsletter.general_error_kit_message }};
    const unprocessableEntityMessage = {{ .Site.Params.newsletter.unprocessable_entity_kit_message }};
    const sidebarForm = document.getElementById("sidebar-subscription-form");
    
    sidebarForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const email = sidebarForm.querySelector("#sidebar-subscription-input").value;
      const referrer = document.URL
      const data = JSON.stringify({
        email: email,
        referrer: referrer
      })
      console.log("Sending the following: " + data);
      fetch("/.netlify/functions/create-subscriber", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: data,
        }).then((response) => {
          if (response.status === 201) {
            const successBlock = document.getElementsByClassName('help-block-for-success')[0];
            successBlock.classList.add('help-block-show');
            successBlock.textContent = createdMessage;
            document.getElementById('sidebar-subscription-form').classList.add('sidebar-subscription-form-hide', 'post-subscription-form-hide');
          }
          else if (response.status === 422) {
            const errorBlock = document.getElementsByClassName('help-block-for-error')[0];
            errorBlock.classList.add('help-block-show');
            errorBlock.textContent = unprocessableEntityMessage;
          }
        }).catch(() => {
          const errorBlock = document.getElementsByClassName('help-block-for-error')[0];
          errorBlock.classList.add('help-block-show');
          errorBlock.textContent = generalErrorMessage;
        });
      })
</script>